
body {
  background-color: #F8F9F9;
  color: #707070;
  width: 100%;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
	0%   {opacity: 0}
	100%  {opacity: 1}
}

p {
  font-family: "Avenir", sans-serif;
}

a {
  color: #707070;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #707070;
}

a:visited {
  color: #707070;
}

h1 {
  font-family: "Georgia";
}

.box {
  width: 90%;
  text-align: center;
  margin: auto;
}

.leftBar {
  width: 35%;
  text-align: right;
  float: left;
  margin-right: 1%;
}

.mainRight {
  width: 53%;
  float: right;
  padding-right: 10%;
  margin-left: 1%;
}

.next {
  font-weight: bolder;
  margin-top: 25px;
  letter-spacing: 1px;
}

.leftHalf {
  width: 47%;
  height: 47%;
  float: left;
  text-align: right;
  margin-right: 3%;
}

.rightHalf {
  width: 47%;
  height: 47%;
  float: right;
  margin-left: 3%;
}
