html, body, div, h1, h2, h3, h4, h5, h6, p, img {
  max-width: 1600px;
  height:100%;
  text-align: center;
}

ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, section, article, aside, details, figcaption, figure,  footer,
header, hgroup, menu, nav, section,  .container, #imgBox, #textBox {
display: block;
}

.container{
	width: 100%;
	height: auto;
	font-family: "Avenir", Helvetica, sans-serif;
	background-color: #DDDDDD;
  padding-bottom: 45px;
}

#imgBox {
	width: 75%;
	height: auto;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
  background-color: #000000;
}

img {
	max-width: 400px;
  width: 100%;
  height: auto;
}

#textBox {
  width: 75%;
  height: auto;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-color: orange;
}

a:link, a:visited {
	color: black;
}
