html, body, div, h1, h2, h3, h4, h5, h6, p, img {
  max-width: 1600px;
  height:100%;
  text-align: center;
}

ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, section, article, aside, details, figcaption, figure,  footer,
header, hgroup, menu, nav, section,  .container, #imgBox, #textBox {
display: block;
}

.container{
	width: 1260px;
	height: 1260px;
	font-family: "Avenir", Helvetica, sans-serif;
	background-color: #DDDDDD;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

#imgBox {
	width: 500px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
  background-color: #000000;
}

img {
  width: 500px;
  height: 500px;
}

#textBox {
  width: 1000px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  background-color: orange;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 960px) {
#wrap_______________START960{}

  .container{
  	width: 900px;
  	height: 1200px;
  	font-family: "Avenir", Helvetica, sans-serif;
  	background-color: #DDDDDD;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  #imgBox {
  	width: 360px;
  	height: 360px;
  	margin-right: auto;
  	margin-left: auto;
    background-color: #000000;
  }

  img {
    width: 360px;
    height: 360px;
  }

  #textBox {
    width: 820px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: orange;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
#wrap_______________START767{}

  .container{
  	width: 700px;
  	height: 900px;
  	font-family: "Avenir", Helvetica, sans-serif;
  	background-color: #DDDDDD;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  #imgBox {
  	width: 360px;
  	height: 360px;
  	margin-right: auto;
  	margin-left: auto;
    background-color: #000000;
  }

  img {
    width: 360px;
    height: 360px;
  }

  #textBox {
    width: 640px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: orange;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
#wrap_______________START420{}

  .container{
  	width: 400px;
  	height: 400px;
  	font-family: "Avenir", Helvetica, sans-serif;
  	background-color: #DDDDDD;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  #imgBox {
  	width: 360px;
  	height: 360px;
  	margin-right: auto;
  	margin-left: auto;
    background-color: #000000;
  }

  img {
    width: 360px;
    height: 360px;
  }

  #textBox {
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background-color: orange;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
