html, body, div, h1, h2, h3, h4, h5, h6, p,img {
	max-width: 1600px;
	height:100%;
}

ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, section, article, aside, details, figcaption, figure,  footer,
header, hgroup, menu, nav, section,  {
	display: block; }

.container{
	width: 100%;
	height: 100%;
	font-family: "Avenir", Helvetica, sans-serif;
	background-color: #DDDDDD;
	padding-bottom: 10px;
	padding-top: 10px;
}

img {
  	max-width: 500px;
    width: 100%;
    height: auto;
		margin-right: auto;
		margin-left: auto;
}

#imgBox {
	width: 75%;
	height: auto;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
  background-color: #000000;
}

#leftColumn {
	width: 62%;
	height: 100%;
	float: left;
	margin-left: 1%;
	margin-right: .5%;
	background-color: #000000;
}

#rightColumn {
	width: 35%;
	height: 100%;
	float: right;
	margin-left: .5%;
	margin-right: 1%;
	background-color: orange;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
